@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap");

body {
    background: azure;
    font-family: sans-serif;
}

section {
    width: 400px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: "Bubblegum Sans";
}

h1 {
    color: red;
    font-size: 3em;
    text-align: center;
}

.fireworks {
    text-align: center;
    font-size: 4em;
}